<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" thread-count="2">
	<test name="Test">
		<classes>
			<class name="exceldata.HomeTest1" />
			<class name="exceldata.HomeTest2" />
			<class name="exceldata.HomeTest3" />
			<class name="exceldata.HomeTest4" />
			<class name="exceldata.HomeTest5" />
		</classes>
	</test>
</suite>
